.container {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.containerAtributos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.portada {
    display: flex;
    flex-direction: column;
    padding: 10px;

}