<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tab1">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- pasamos la variable name a el componente  -->
  <ion-content class="container">
    <h2 class="title">api</h2>
    <!-- boton ver usuarios, la funcion nos muestra la lista  -->
    <ion-item>
      <ion-item>
        <ion-input class="custom-input" [(ngModel)]="nombreSuperHeroe" style="display: inline-block;" 
          placeholder="Enter name"></ion-input>
          
        </ion-item>
        <ion-button (click)="ViewCharacter()">Buscar</ion-button>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Personajes</ion-card-subtitle> -->
      </ion-card-header>
      <ul *ngIf="personajes.length > 0" class="containers">
        <li *ngFor="let personaje of personajes">
          <ion-card-content class="cardContainer">
            <ion-list>
              <ion-item class="cardItem">
                  <a [routerLink]="['/tabs/tab2']" (click)="verFicha(personaje)">
                    <img [src]="personaje.image.url" > <!-- Se corrige el uso de src -->
                  </a>
                  <ion-label>{{personaje.name}}</ion-label>
                </ion-item>

            </ion-list>
          </ion-card-content>
        </li>
      </ul>
    </ion-card>

  </ion-content>

  <ion-fab id="present-alert" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add">
        <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
          [inputs]="alertInputs"></ion-alert>
      </ion-icon>
    </ion-fab-button>


  </ion-fab>

</ion-content>