<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- pasamos la variable name a el componente  -->
  <app-explore-container name="Section Perfil"></app-explore-container>


  <ion-fab id="present-alert" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add">
        <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
          [inputs]="alertInputs"></ion-alert>
      </ion-icon>
    </ion-fab-button>
  </ion-fab>